  .header {
    margin: 28px auto 56px;
    width: calc(100% - 96px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .header {
      margin: 28px auto 48px;
    }
  }

  @media screen and (min-width: 426px) and (max-width: 768px) {
    .header {
      width: calc(100% - 48px);
    }
  }

  @media screen and (max-width: 425px) {
    .header {
      margin: 16px auto 48px;
      width: calc(100% - 32px);
    }
  }
