.footer__links {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, minmax(50px,auto));
  gap: 18px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__links {
    grid-template-columns: repeat(1, minmax(50px,auto));
  }
}