.intro__text {
  margin: -15px 0 33px;
  max-width: 690px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  color: #FFFFFF;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .intro__text {
    max-width: 720px;
  }
}