@import url('../vendor/normalize.css');
@import url('../blocks/page/index.css');
@import url('../vendor/fonts/inter.css');

.page {
  min-width: 1280px;
  /* Макет для разрешений 1280px */
  margin: 0 auto;
  /* выше для экранов больше 1280px отцентрировал весь контент */
  background-color: #2A2C2F;
  font-family: Inter;
}

.header {
  padding-top: 28px;
  margin: auto;
  width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 176px;
  height: 52px;
  box-sizing: border-box;
}

.header__lang {
  width: 77px;
  display: flex;
  justify-content: space-between;
}

.header__lang-link {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-decoration-line: none;
  color: #FFFFFF;
}

.lead {
  width: 984px;
  margin: 56px auto 0;
}

.lead__title {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
}

.lead__subtitle {
  margin: 32px auto 64px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}

.lead__image {
  width: 984px;
  height: 615px;
  box-sizing: border-box;
}

.lead__caption {
  margin: 8px 0 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.intro {
  margin: 92px auto 0 148px;
  width: 690px;
}

.intro__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #FFFFFF;
}

.intro__text {
  margin: 33px 0 40px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  color: #FFFFFF;
}

.intro__list {
  padding: 0;
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  list-style: none;
}

.photo-grid {
  margin: 92px auto;
  display: grid;
  width: 1184px;
  height: 671px;
  grid-template: auto / repeat(4,1fr);
  gap: 16px;
}

.photo-grid__item {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


